body {

	background-color: #f8f3ee;
}

table#game_board{
margin: auto;
border-style: solid;
border-width: 4px;
border-color: #94618E;
background-color: #f1e8dd;
}

table#game_board td{
padding: 10px;
border-style: solid;
border-width: 1px;
border-color: #94618E;
}

#messages p{
margin: 0px;
}

td.hovered_over:hover{
	background: url('../images/hover.gif'), #674363;
	background-size: 100% 100%;
}

#whitesum, #blacksum{
	font-size: 26px;
}

.scorespacing{
	margin-top: 10px;
	margin-bottom: 20px;
}

.bth-outline-extra {
	border: purple;
	font: purple;
}

h4, h3, h2 {
	padding-top: 12px;
	padding-bottom: 8px;
}